 <div class="banner-bottom-grids">
		 <div class="container">
		 <%= link_to  approved_schools_path do %>
			 <div class="col-md-6 banner-text-info clr1">
				 <i class="icon1"></i>
				 <div class="bnr-text">				 
					 <h3>Approved Schools</h3>
					 <p>View all Approved schools</p>
				 </div>
			 </div>
			 <% end %>


			 <%= link_to unapproved_schools_path do %>
			 <div class="col-md-6 banner-text-info clr2">	
				 <i class="icon2"></i>
				 <div class="bnr-text">
					 <h3>Unapproved schools</h3>
					 <p>View all unapproved schools</p>
				 </div>
			 </div>
			 <% end %>
			 <div class="clearfix"></div>

			 <br/> <br/>
			 <%= link_to logout_path do %>
			 <div class="col-md-6 banner-text-info clr1">	
				 <i class="icon2"></i>
				 <div class="bnr-text">
					 <h3>Logout</h3>
					 <p>Was nice seeing you</p>
				 </div>
			 </div>
			 <% end %>

			  <%= link_to all_schools_path do %>
			 <div class="col-md-6 banner-text-info clr2">	
				 <i class="icon2"></i>
				 <div class="bnr-text">
					 <h3>All Schools</h3>
					 <p>View all schools</p>
				 </div>
			 </div>
			 <% end %>
			 <div class="clearfix"></div>

			</div>
</div>
