
<!-- banner -->
<div class="banner">
	
</div>
<!-- //banner -->

<!-- content -->
<div class="content">
	 <div class="container">
	 	<%= render 'schools/school' %>
	 </div>
</div>
<!--- //content--->
<!-- content-bottom -->
<!-- //content-bottom -->
<!--footer-->

<% unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<% end %>