<% provide(:title, 'Primary and Secondary Schools') %>
<div class="container">
		 <ol class="breadcrumb">
		  <li><%= link_to "HOME", root_path %></li>
		  <li class="active"><%= link_to "Primary and Secondary Schools", primary_and_secondary_path %></li>
		 </ol>
</div>

<%= render 'schools/index' %>