<div class="approved">
  <% if !@school.approved? %>
    <p> The school will be available for the general public to see once the admin approves it. Thanks for using schools.com </p>
    <p>By the way, since it isn't approved, you can delete it if you don't like it or edit it better</p>
  <% end %>
</div>
<p class = "show_schools">
   
    <% if !@school.picture_url.nil? %>
      <%= render 'schools/with_picture' %>
    <% else %>
      <%= render 'schools/without_picture' %>
    <% end %>
</p>

</br>



   <div class="container marketing">
     <div class="row row-centered">
     <h2>Nearby Schools</h2>
        <%= render 'schools/nearby_schools' %>
    </div>
    </div>
    
