  <% if !@school.approved? %>
  <div class="content">
  <div class="container">
    <p class="text-center"> <h3> The school will be available for the general public to see once the admin approves it. Thanks for using schools.ng </h3> </p>
    <p class="text-center"> <h3> By the way, since it isn't approved, you can delete it if you don't like it or edit it better </h3></p>
 
  <% end %>
<p class = "show_schools">
   
    <% if !@school.picture_url.nil? %>
      <%= render 'schools/with_picture' %>
    <% else %>
      <%= render 'schools/without_picture' %>
    <% end %>
</p>

</br>




     <h2 class="text-center">Nearby Schools</h2>
        <%= render 'schools/nearby_schools2' %>
    
    
 </div>
  </div>