<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			 <p>© 2015 All Rights Reseverd Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
		 </div>
		 <div class="footer-menu">
			 <ul>
				 <li><%= link_to "HOME", root_path %></li>
				 <li><%= link_to "ABOUT US", about_path %></li>
				 <li><%= link_to "CONTACT", contact_path %></li>
				 <li><%= link_to "ADMIN", login_path %></li>
			 </ul>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>