<div class="header">
	 <div class="container">
		 <div class="logo">
			   <h1><a href="index.html">Schools.ng</a></h1>
		 </div>	
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
				 <li class="active"><a href="index.html">HOME</a></li>
				 <li><a href="about.html">ABOUT US</a></li>
				 <li><a href="gallery.html">GALLERY</a></li>
				 <li><a href="404.html">TRAINING</a></li>
				 <li><a href="event.html">NEWS & EVENTS</a></li>
				 <li><a href="contact.html">CONTACT</a></li>
			 </ul>			 
		 </div>			
		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	  	

		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">
	 <div class="container">
	 <div class="search">
		    <form>
		    	<input type="text" value="" placeholder="Search...">
				<input type="submit" value="">
			</form>
     </div>     
	 <div class="social">			 
			 <a href="#"><i class="facebook"></i></a>
			 <a href="#"><i class="twitter"></i></a>
			 <a href="#"><i class="dribble"></i></a>	
			 <a href="#"><i class="google"></i></a>	
			 <a href="#"><i class="youtube"></i></a>	
	 </div>
		<div class="clearfix"></div>
		</div>
</div>